.ex2container {
   margin: 5px;
   display: flex;
   width: 200px;
   height: 200px;
   justify-content: center;
   align-items: center;
   background-color: #181920;
   color: white;
   position: relative;
}

.btn {
  position: absolute;
  left:  180px;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  border: none;
  font-size: 21px;
  background-color: #2d2f3d;
  color: white;
  cursor: pointer;
  z-index: 2;
}

.btnShow {
  background-color: #181920;
  color: white;
  cursor: pointer;
  border-radius: 20%;
  border: none;
}